@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #006633;
	background-color: #def4de;
	background-image:url(/images/bg.jpg);
	background-repeat:repeat-x;
	padding: 0px;
	margin: 0px;
	line-height:18px;
}
#container {
	width:1013px;
	margin-left:auto;
	margin-right:auto;
	background-repeat:no-repeat;
}
#header {
	background-image: url(/images/header.jpg);
	height:246px;
	width:1013px;
}
#content_bg {
	background-image: url(/images/content_bg.png);
	background-repeat:repeat-y;
	padding-top: 0px;
}
#content {
	width:815px;
	margin-left:auto;
	margin-right:auto;
	padding-top: 0px;
}

#footer {
	background-image:url(/images/footer.jpg);
	width:1013px;
	height:116px;
	float: left;
	padding-top:70px;
	padding-left:200px;
	background-repeat:no-repeat;
}
#pink_nav {
	width:176px;
	padding-top: 30px;
	padding-left: 20px;
	float: left;
}
#container #content_bg #rightwrapper {
	width: 619px;
	float: left;
}
#container #content_bg #rightcontent {
	width: 210px;
	float: left;
	margin-right: 5px;
}
#container #content_bg #rightsidecontent {
	width: 309px;
	float: left;
	padding-top: 30px;
}
#container #content_bg #content #rightwrapper #rightcontent #myleftimage {
	background-image: url(/images/gradient_right_green.jpg);
	height: 341px;
	width: 5px;
	float: left;
}
#container #content_bg #content #rightwrapper #rightcontent #pinkblock {
	width: 200px;
	float: left;
	background-image: url(/images/sliced_frame_13.jpg);
	background-repeat: repeat-x;
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 13px;
	color: 666633;
}
#container #content_bg #content #rightwrapper .padded_text_40 #rightcontent #pinkblock p {
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 13px;
	color: 666633;
	padding-left: 10px;
	padding-right: 10px;
}

#container #content_bg #content #rightwrapper #rightcontent #myrightimage {
	background-image: url(/images/gradient_left_green.jpg);
	height: 341px;
	width: 5px;
	float: left;
}






/******************* PARAGRAPH TAG *******************/
/* no padding and margin prevents problems while styling */
/* Use <br> to create extra page break after paragraphs */
p {
	padding: 0px;
	margin: 0px;
}
/******************* HEADINGS *******************/
h1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #0066FF;
	padding: 0px;
	margin: 0px;
}
h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #EC6DB4;
	padding: 0px;
	margin: 0px;
}
h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0066FF;
	padding: 0px;
	margin: 0px;
}
/******************* Fixes Browser Bugs *******************/
.clearFix {
	clear: both;
}
/******************* BODY LINKS *******************/
a:link, a:visited {
	color: #4a9930;
	padding: 0px;
	margin: 0px;
}
a:hover {
	color: #b5e47c;
	padding: 0px;
	margin: 0px;
}

/* fix wierd outline*/ 

a:focus, a:active {
        outline: none;
      }


/******************* COPYRIGHT *******************/
#copyright 
{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #fff;
}
#copyright a {
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}
#copyright a:hover {
	color: #FF9900;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 10px;
}
/******************* COPYRIGHT *******************/
.form_fonts input, textarea, option {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
}
/******************* transparent png fix *******************/

img, div { behavior: url(iepngfix.htc) }

/** places padding around content **/
.padded_text_20 {
	padding:20px;
    line-height:18px;
}
.padded_text_40 {
	line-height:18px;
	padding-top: 30px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
}
/******************* tables *******************/
/*table.main {} */
table {
border-spacing: 0px;
border-collapse: collapse;
}
td {
margin: 0px;
padding: 5px;
/*border: 1px solid black;*/
}
td.even {
	 background-color: #fff;
}
td.odd {
 	background-color: #ebebeb;
}
th {
	 background-color: #2F4576;
	 font-weight:bold; color:#FFFFFF;
}
th h1 {
	color:#FFFFFF;
}
h1 {
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 24px;
	font-weight: lighter;
	padding-left: 10px;
	color: #FFFFFF;
}
.aptag2 {
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 16px;
	font-weight: lighter;
	color: #666633;
}

