#container #content_bg #content #pink_nav #greencontainer {
	width: 173px;
	height: 341px;
}
#container #content_bg #content #pink_nav #greencontainer #leftimage {
	background-image: url(/images/gradient_left_green.jpg);
	width: 5px;
	float: left;
	height: 341px;
}
#container #content_bg #content #pink_nav #greencontainer #righttimage {
	background-image: url(/images/gradient_right_green.jpg);
	width: 5px;
	float: right;
	height: 341px;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}



#menul {
	width: 163px;
	background-image: url(/images/pink_left_nav.jpg);
	background-repeat: repeat-x;
	padding-right: 6px;
	padding-left: 6px;
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 14px;
	/*border-style: solid solid none solid;*/
	/*border-color: #3D261D;*/
	/*border-size: 1px;
	border-width: 1px;*/
	}
	
#menu1 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 26px;
	text-decoration: none;
	}	
	
#menu1 li a:link, #menu1 li a:visited {
	color: #EC5FAE;
	display: block;
	background: url(/images/button.jpg);
	padding: 3px 3px 0 10px;
	}
	
#menu1 li a:hover {
	color: #FFF;
	background:  url(/images/button.jpg) 0 -28px;
	padding: 3px 3px 0 10px;
}

/*here starts the second menu for the left part */
ul2 {
	list-style: none;
	margin: 0;
	padding: 0;
	}


#menu2 {
	width: 163px;
	font-family: "Century Gothic", Arial, Helvetica, "Lucida Sans";
	font-size: 12px;
	background-image: url(/images/left_green.jpg);
	background-repeat: repeat-x;
	float: left;
	/*border-style: solid solid none solid;*/
	/*border-color: #3D261D;*/
	/*border-size: 1px;
	border-width: 1px;*/
	}

	
#menu2 li a {
	height: 32px;
	voice-family: "\"}\"";
	voice-family: inherit;
	height: 18px;
	text-decoration: none;
	}	
	
#menu2 li a:link, #menu2 li a:visited {
	color: #666633;
	display: block;
	padding: 3px 3px 0 10px;
	}
	
#menu2 li a:hover {
	color: #000;
	display: block;
	padding: 3px 3px 0 10px;
	}